<app-navbar></app-navbar>
<div class="container-xl justify-content-center mt-3">
  <table class="table">
    <thead>
      <tr class="table bg-dark text-white">
        <th scope="col">ID</th>
        <th scope="col">Data</th>
        <th scope="col">Numero</th>
        <th scope="col">Anno</th>
        <th scope="col">Importo</th>
        <th scope="col">Stato</th>
        <th scope="col">Cliente</th>
        <th></th>
        <th><a class="btn btn-success" [routerLink]="['/dettaglio-fatture/:id', 0, idCliente]" *ngIf="idCliente">Nuova</a></th>
      </tr>


    </thead>
    <tbody class="table-dark">
      <tr *ngFor="let fattura of fatture, let i = index">
        <td>{{fattura.id}}</td>
        <td>{{fattura.data}}</td>
        <td>{{fattura.numero}}</td>
        <td>{{fattura.anno}}</td>
        <td>{{fattura.importo}}</td>
        <td>{{fattura.stato.nome}}</td>
        <td>{{fattura.cliente.ragioneSociale}}</td>
        <td><a (click)="$event.preventDefault();Delete(fattura.numero, fattura.id, i)"
            class="btn btn-danger">Elimina</a></td>
        <td><a [routerLink]="['/fatture', fattura.id]" class="btn btn-warning">Modifica</a></td>

      </tr>
    </tbody>
  </table>
  <tfoot>
    <tr>
      <td colspan="8">
        <nav aria-label="Page navigation example">
          <ul class="pagination" *ngIf="response">
            <li class="page-item" *ngIf="!response.first"><a class="page-link"
                (click)="$event.preventDefault();pagine(response.number-1)" href="#">Previous</a></li>
            <li class="page-item" *ngIf="!response.last"><a class="page-link"
                (click)="$event.preventDefault();pagine(response.number+1)" href="#">Next</a></li>
          </ul>
        </nav>
      </td>
    </tr>
  </tfoot>
</div>
