
  <app-navbar></app-navbar>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="card bg-dark text-white text-center" style="width: 18rem;">
          <img src="assets/img/markus-winkler-Q2J2qQsoYH8-unsplash.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Utenti</h5>
            <a [routerLink]="['/lista']">Clicca per andare alla lista utenti </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark text-white text-center" style="width: 18rem;">
          <img src="assets/img/scott-graham-OQMZwNd3ThU-unsplash.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fatture</h5>
            <a [routerLink]="['/fatture']">Clicca per andare alla lista fatture </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark text-white text-center" style="width: 18rem;">
          <img src="assets/img/markus-spiske-6pflEeSzGUo-unsplash.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Se non hai un Account</h5>
            <a [routerLink]="['/signup']">Clicca qui per registrarti </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark text-white text-center" style="width: 18rem;">
          <img src="assets/img/micah-williams-lmFJOx7hPc4-unsplash.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Se hai un Account</h5>
            <a [routerLink]="['/login']">Clicca qui per il login </a>
          </div>
        </div>
      </div>
    </div>
  </div>



